[Desktop Entry]
Name=Launcher
Name[cs]=Spouštěč
Name[de]=Starter
Name[el]=Εκκίνηση
Name[en]=Launcher
Name[fi]=Käynnistin
Name[fr]=Lanceur
Name[hu]=Indító
Name[id]=Peluncur
Name[kab]=Amsekkar
Name[kk]=Жөнелткіш
Name[kmr]=Destpêker
Name[oc]=Aviador
Name[pl]=Program startowy
Name[pt_BR]=Lançador
Name[ru]=Панель запуска
Name[sv]=Programstartare
Name[uk]=Запускач
Name[zh_CN]=启动器
Name[zh_TW]=啟動器
Comment=The COSMIC frontend for Pop Launcher
Comment[cs]=COSMIC frontend pro spouštěč Pop
Comment[de]=Das COSMIC Frontend für Pop Launcher
Comment[el]=Γραφικό περιβάλλον του COSMIC για τη γραμμή εκκίνησης Pop
Comment[en]=The COSMIC frontend for Pop Launcher
Comment[fi]=Pop-käynnistimen COSMIC-käyttöliittymä
Comment[fr]=L'interface COSMIC pour le Lanceur Pop
Comment[hu]=A Pop Launcher COSMIC-felülete
Comment[id]=Frontend COSMIC untuk Peluncur Pop
Comment[kab]=Agrudem COSMIC i umsekkar Pop
Comment[kk]=«Pop Launcher» үшін COSMIC фронтенді
Comment[kmr]=Pêşberiya COSMIC ji bo Pop Launcher
Comment[oc]=L’interfàcia de COSMIS per l’Aviador Pop
Comment[pl]=Nakładka COSMIC dla Programu Startowego Pop
Comment[pt_BR]=A interface COSMIC para o Lançador Pop
Comment[ru]=Фронтенд COSMIC для «Pop Launcher»
Comment[sv]=COSMIC-användargränssnittet för Pop-programstartaren
Comment[uk]=Інтерфейс COSMIC для запускача Pop
Comment[zh_CN]=Pop 启动器的 COSMIC 前端
Comment[zh_TW]=Pop 啟動器的 COSMIC 前端
Type=Application
Exec=cosmic-launcher
Terminal=false
Categories=COSMIC;
Keywords=Launcher;
Keywords[cs]=Spouštěč
Keywords[de]=Starter
Keywords[el]=Εκκίνηση
Keywords[en]=Launcher
Keywords[fi]=Käynnistin
Keywords[fr]=Lanceur
Keywords[hu]=Indító
Keywords[id]=Peluncur
Keywords[kab]=Amsekkar
Keywords[kmr]=Destpêker
Keywords[oc]=Aviador
Keywords[pl]=Program startowy
Keywords[pt_BR]=Lançador
Keywords[ru]=Лаунчер;Панель;Запуска
Keywords[sv]=Programstartare
Keywords[uk]=Запускач
Keywords[zh_CN]=启动器
Keywords[zh_TW]=啟動器
Icon=com.system76.CosmicLauncher
StartupNotify=true
X-HostWaylandDisplay=true
NoDisplay=true
